body{
    
}

#card-wrapper{
    height:80vh;
    max-width: 900px;
    margin: auto;
}

#register-form-wrapper{
    max-width:600px;
    padding:15px;
    margin:auto;
}

#card-content{
    height: 100%;
    overflow-y: auto;
}

#text-form-wrapper{
    /* border: 1px solid #000; */
    /* position: absolute; */
    bottom: 0px;
    z-index: 10;
    width: 100%;
    margin: 0px;
}

.page-content-wrapper{
    padding: 25px 10px;
}

#side-bar{
    display:none;
}

nav .brand-logo{
    padding:0px 10px;
}

#nav-img{
    width: 60px;
    height: 60px;
    vertical-align: top;
}

#side-bg{
    background:#009688;
}

@media(max-width:992px){
    #side-bar{
        display:block;
    }
    
}